<div class="card">
  <div class="card-header">
    <div class="input-group mb-3 col justify-content-center">
      <input class="form-control "
             type="text" 
             placeholder="Moive"
             [(ngModel)] ='movieName' />
      <div class="input-group-append">
        <button class="btn btn-outline-info" 
                type="submit" (click)='onAdd()'>Add</button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="card-group">
      <div class="card">
        <div class="card-header ">
          <h5>Watchlist <span class="badge bg-info text-light">{{filteredMoviesWL.length}}</span> </h5>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table" *ngIf='movies && movies.length'>
              <thead>
                <tr>
                  <th>
                      <input
                      class="form-control"
                      type="text"
                      placeholder="Search Moive"
                      [(ngModel)] ='listFilterWL'
                    />
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let movie of filteredMoviesWL'>
                  <td>{{ movie.movieName | lowercase }}
                      <div class="btn-group text-center pull-right">
                          <button class="btn btn-outline-danger" type="submit"
                                  (click)='onDelete(movie.movieId)'
                                  >
                                  Delete</button>
                          <button class="btn btn-outline-success" type="submit" 
                                  (click)='onWatched()'>Watched</button>
                        </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5>Watched <span class="badge bg-info text-light">{{filteredMoviesWD.length}}</span> </h5>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table" *ngIf='movies && movies.length'>
              <thead>
                <tr>
                  <th>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Search Moive"
                      [(ngModel)] ='listFilterWD'
                    />
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let movie of filteredMoviesWD'>
                  <td>{{ movie.movieName | lowercase }} 
                      <div class="btn-group text-center pull-right" >
                          <button class="btn btn-outline-danger delete"
                                  type="submit"
                                  (click)='onDelete(movie.movieId)'
                                  >
                                  Delete</button>
                          <button class="btn btn-outline-success" type="submit" 
                                  (click)='onUnwatch()'>Unwatch</button>
                        </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
